<ul class="list-group list-group-flush">
	<% @comments.each do |comment|%>
		<li class="list-group-item">
			<h5 class="font-weight-bold"><%= comment.comment_owner %></h5>
			<p><%= comment.body %></p>
			<%= link_to 'Edit', edit_comment_path(comment), class: "card-link" %>
			<%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?'}, class: "card-link" %> 
		</li>
	<% end %>
</ul>
